.box-modal h1, .box-modal h2, .box-modal h3, .box-modal h4, .box-modal h5, .box-modal h6{
    font-family: Arial !important;
}

.box-modal .modal-body {
    font-family: Arial !important;
}

.modal .modal-title {
    font-family: Arial;
    font-weight: bold;
}

.x_delivery {
    padding-top: 0 !important;
    height: 25px;
    line-height: 25px;
}

.delivered_info.red {
    color: red;
    font-weight: bold;
}

h3.panel-title span.title {
    margin-left: 7px;
}

h3.panel-title span.title.first {
    margin-left: 0;
}

h3.panel-title span.title.active {
    color: red;
}

#sale_modal_loading {
    bottom: -100px;
    left: 18px;
}

#my_table .modal-header {
    border: 1px solid #e9e9e9;
}

#my_table .modal-header {
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#my_table .modal-body {
    padding: 0 10px;
    font-family: Arial !important;
}

#my_table .pagination {
    margin-top: 10px;
}

#my_table .control {
    padding: 15px 10px;
}

#my_table .control .btn{
    height: 38px;
}

#my_table .control .btn.right {
    float: right;
}

#my_table .control #s_date_start, #my_table .control #s_date_end {
    width: 150px;
    margin-right: 20px;
}

#my_table .control .left input[type="text"] {
    float: left;
    margin-bottom: 0;
}

#my_table .control .right input[type="text"] {
    float: right;
    margin-bottom: 0;
}

#my_table #search {
    width: 200px;
}

#my_table .data-n9-table {
    border-top: 1px solid #d7dce5;
    border-left: 1px solid #d7dce5;
    border-right: 1px solid #d7dce5;
}

#my_table .data-n9-table tr th, #my_table .data-n9-table tr td {
    padding: 4px 10px;
    border-bottom: 1px solid #d7dce5;
}

#my_table .data-n9-table tr th {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#my_table .data-n9-table tr td {
    height: 35px;
    line-height: 35px;
}

#my_table .data-n9-table td.center {
    text-align: center;
}

#my_table .data-n9-table td.right {
    text-align: right;
}

#tbl_delivery_items {
    margin-top: 15px;
    margin-bottom: 15px;
}

#contract_payment_detail_loading {
    bottom: -100px;
    left: 13px;
    z-index: 1;
}

#receiving_modal_loading {
    bottom: -102px;
    left: 20px;
}

.modal .modal-content .modal-footer.has-loading {
    position: relative;
}

@media (min-width: 768px) {
    #quick_modal.size-700 .modal-dialog {
        width: 700px;
    }

    #quick_modal.size-800 .modal-dialog {
        width: 800px;
    }
}

@media (min-width: 992px) {
    #my_table.size-1200 .modal-dialog {
        width: 1200px;
    }

    #my_table.size-1000 .modal-dialog {
        width: 1000px;
    }

    #quick_modal.size-1000 .modal-dialog {
        width: 1000px;
    }
}